<li>
	{{how_many}} {{name}}(s)

	<button class="change-devoured btn-action" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}Chow Down!{{else}}Try it again!{{/if}}
	</button>

	<button class="delete-burger btn-delete" data-id="{{id}}">Delete</button>

	Patron: {{customer_name}}
</li>
